@use "../abstracts" as *;

button.btn {
  cursor: pointer;
  border: none;
}

a.btn {
  text-decoration: none;
  display: inline-block;
}

.btn {
  padding: 16px 28px;
  background-color: var(--clr-primary);
  color: var(--clr-white);
  font-size: px-to-rem(18);
  font-weight: 700;
  text-transform: uppercase;
}
