@use "../abstracts/" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  line-height: 1.5;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
}

picture,
video {
  display: block;
  max-width: 100%;
}

// Prevents the post title in the editor from being flush against the edge
.editor-visual-editor__post-title-wrapper .wp-block-post-title {
  padding-inline: var(--container-padding-x);
  width: 100%;
  max-width: var(--container);
  margin-inline: auto;
}
